<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guritadigital.shop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.guritadigital.shop.app.myapp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name="com.guritadigital.shop.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.guritadigital.shop.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@layout/search" />
        </activity>
        <activity
            android:name="com.guritadigital.shop.Intro"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.shop.OrderDetail"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.shop.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.shop.RegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.shop.MenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.shop.ListSeller"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.shop.ProdukActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.shop.CartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.shop.ProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.shop.TabActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.shop.AddProduk"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!-- Google singin pengaturan api -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- Google singin pengaturan api -->

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- end disini Facebook -->


        <!-- modul meta volley glid -->
        <meta-data
            android:name="com.guritadigital.shop.modul.VolleyGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB5ILxv2X3chw7MNrR0dLMTEtWjCqsCDf4" />
        <!-- service fcm simple -->
        <service android:name="com.guritadigital.shop.app.CustomFirebaseMsg">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.guritadigital.shop.app.MyfirebaseService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.guritadigital.shop.VoucherDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.shop.SpinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.shop.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.shop.HelpDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.shop.GambarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.shop.FlashDealActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.shop.KategoriActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.shop.ProdukDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.shop.LupaPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.shop.SentPoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.shop.KonfirmasiPoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.shop.SentPoinOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.shop.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.shop.FeedbackDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.guritadigital.shop.SubKategoriActivity"
            android:label="@string/title_activity_sub_kategori"
            android:theme="@style/MyMaterialTheme" />
        <activity android:name="com.guritadigital.shop.WishlistActivity" />
        <activity android:name="com.guritadigital.shop.SearchActivity"></activity>
    </application>

</manifest>