<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ushare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".app.myapp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Intro"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderDetail"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListSeller"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProdukActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TabActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddProduk"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!-- Google singin pengaturan api -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- Google singin pengaturan api -->


        <!-- Facebook pengaturan api -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/id_facebook" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- end disini Facebook -->


        <!-- modul meta volley glid -->
        <meta-data
            android:name="com.ushare.modul.VolleyGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDd4uM8smoWGBhlSNvQL1_1dTyQGj0P4EE" />
        <!-- service fcm simple -->
        <service android:name=".app.CustomFirebaseMsg">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".app.MyfirebaseService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".VoucherDetail" />
        <activity android:name=".SpinActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".HelpDetailActivity" />
        <activity android:name=".GambarActivity" />
        <activity android:name=".FlashDealActivity" />
        <activity android:name=".KategoriActivity" />
        <activity android:name=".ReservasiActivity" />
        <activity android:name=".ProdukDetailActivity" />
        <activity android:name=".LupaPasswordActivity" />
        <activity android:name=".SentPoinActivity" />
        <activity android:name=".KonfirmasiPoinActivity" />
        <activity android:name=".SentPoinOrderActivity" />
        <activity android:name=".ReservasiDetailActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".FeedbackDetailActivity"></activity>
    </application>

</manifest>